/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

/*Intro Section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*Succeed Info Section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
	padding-bottom: 3rem;
}


#succeed-info h2 {
	margin-bottom: 3rem;
	font-size: 2rem;
}

#succeed-info h3 {
	text-align: left;
	margin-bottom: 0.5rem;
}

#succeed-info .card {
	display: block;
	min-height: 100px;
	width: 100%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#succeed-info p {
	color: gray;
}

/*Pre-footer Section*/

#pre-footer {
	background-color: #002540;
}

#pre-footer div {
	display: inline-block;
	color: white;
	vertical-align: top;
	text-align: left;
	padding: 2rem 5rem 2rem 2rem;
}

/*Footer Section*/
footer > span {
	margin-right: 1rem;
	margin-left: 1rem;
	color: gray;
}
Write to Lexy Darell
